{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "jquery": true,
    },
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-trailing-spaces": "error",
        "valid-jsdoc": "error"
    }
}